<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Challenge | PoW-AntiDDoS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/static/bundle.js"></script>

    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="info">
        <h2>Проверяем, человек ли вы. Это может занять несколько секунд.</h2>
        <p>Сначала необходимо проверить безопасность вашего подключения.</p>

        <div class="statuses">
          <p><span id="calc-emoji">⏳</span> Вычисляем хэш</p>
          <p class="hidden" id="send">⏳ Отправляем на сервер</p>
        </div>
      </div>

      <div>
        <hr />
        <p class="text-center">Ray ID: {{.PrefixShort}}</p>
      </div>
    </div>

    <script>
      const prefix = "{{.Prefix}}";
      const difficulty = Number("{{.Difficulty}}");

      const calcEmoji = document.getElementById("calc-emoji");
      const send = document.getElementById("send");

      window.onload = setTimeout(async () => {
        const nonce = await window.Solver(prefix, difficulty);
        calcEmoji.innerHTML = "✅";
        send.classList.remove("hidden");

        setTimeout(() => {
          const form = document.createElement("form");
          form.method = "POST";
          form.action = window.location.href;

          const nonceInput = document.createElement("input");
          nonceInput.action = window.location.href;
          nonceInput.type = "hidden";
          nonceInput.name = "nonce";
          nonceInput.value = nonce;

          form.appendChild(nonceInput);
          document.body.appendChild(form);
          form.submit();
        }, 2000);
      }, 1500);
    </script>
  </body>
</html>
